/*
 * Yes. The color scheme is from http://www.colourlovers.com/web/trends/websites/7850/Etsy
 */
body {
    background: #F4F5ED;
    font-family: "Lustria", Georgia, serif;
    font-size: 16px;
    color: #000;
}

a {
    color: #89CEDE;
    text-decoration: none;
}

a.top {
    width: 600px;
    display: block;
    color: #000;
    font-size: 36px;
    margin: 0px auto 0px auto;
    padding: 10px;
    color: #DC4E00;
    border-bottom: 1px solid #929487;
}

div.content {
    background: #FFFFFF;
    width: 600px;
    margin: 0px auto 0px auto;
    padding: 10px;
}

div.footer {
    padding: 10px;
    width: 600px;
    margin: 0px auto 0px auto;
    border-top: 1px solid #929487;
    font-size: 12px;
    text-align: center;
}

.post_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #C7C9BE;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.post_separator {
    color: #C7C9BE;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px 5px 0px;
}

.post_content {
    line-height: 1.5em;
}

.manage_title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #C7C9BE;
    padding-bottom: 3px;
}

.manage_title a {
    color: #000;
}

.manage_boxes {
    text-align: center;
    margin-top: 10px;
}

.manage_box {
    display: inline-block;
    padding: 20px;
    width: 200px;
    margin: 0px 5px 0px 5px;
    background: #C7C9BE;
    color: #000;
    cursor: pointer;
}

.manage_box:hover {
    background: #89CEDE;
    color: #F4F5ED;
}

input, textarea {
    font-family: "Lustria", Georgia, serif;
}

.create_title {
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 590px;
    margin-top: 10px;
    border: 1px solid #C7C9BE;
    outline: none;
}

/* I love the name of this class. */
.create_content {
    display: block;
    font-size: 16px;
    width: 590px;
    line-height: 1.2em;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #C7C9BE;
    outline: none;
    height: 200px;
}

.create_publish {
    width: 100px;
    background: #F4F5ED;
    border: 1px solid #C7C9BE;
    font-size: 18px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.create_publish:hover {
    cursor: pointer;
    border-color: #929487;
}

.none {
    width: 100%;
    text-align: center;
}
