<!DOCTYPE html>
<html>
    <head>
        <title>goblog</title>
        <link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
        <link rel=stylesheet type=text/css href=/style.css />
    </head>
    <body>
        <a href="/" class=top>{{blog_title}}</a>
        <div class=content>
            {{{content}}}
        </div>
        <div class=footer>
            <a href=http://github.com/stevenleeg/goblog>Goblog</a> // <a href=/manage>Manage</a>
        </div>
    </body> 
</html>
