<div class=manage_title><a href=/manage>Manage</a> &raquo; <a href=/manage/entries>Entries</a></div>

<table class=existing_list>
    {{#entries}}
    <tr>
        <td>{{Title}}</td>
        <td><a alt="Delete" href=/manage/existing/remove/{{Id}}>[ - ]</a> <a alt="Edit" href=/manage/existing/{{Id}}>[ &raquo; ]</a>
        </td>
    </tr>
    {{/entries}}
</table>
