<div class=manage_title>Manage</div>
<div class=manage_boxes>
    <a class="manage_box manage_box_left" href=/manage/create>Create an entry</a>
    <a class="manage_box manage_box_right" href=/manage/existing>Manage existing entries</a>
</div>
