<div class=manage_title><a href=/manage>Manage</a> &raquo; <a href=/manage/existing>Entries</a> &raquo; Remove</div>

<form method=post action=>
    <p>Removing entry {{Title}} <input type=submit name=doit value="Do it" /></p>
</form>
